body{
	min-height: 100%;
	width: 70%;
	margin: 0 auto;
	border: 2px dotted grey;
	padding: 20px;
}

.head{
	font-size: 3em;
	color: red;
	text-align: center;
	font-style: italic;
}

.text, p{
	font-family: Courier;
	font-weight: bold;
	font-size: 1.5em;
}

h2{
	font-size: 2.3em;
	color: green;
	display: inline-block;
	background: yellow;
}

p{
	text-indent: 5.5em;
}